{# templates/Outside/accountConfirmed.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Account created'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('style/outside.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}





    <div class="confirmMessage">{% trans %}Your account has been created.
        You should receive very shortly a message to confirm your email address.
        Please make sure to check your spam folder.{% endtrans %}</div>



{% endblock %}