footer {
    width: 100%;
    background-color: #363636;
    color: #F8F7F5;

    flex-shrink: 0;
}

footer a {
    text-decoration: none;
    color: #F8F7F5;
}

footer a:hover {
    text-decoration: none;
    color: #8d80ad;
}

.footerContent {
    max-width: 1440px;
    padding-top: 0;
    margin: -30px auto auto;
}

.makeHorizontalBarDisappear {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    padding-left: 10%;
}

.upButton {
    font-size: 35px;
    border: 1px solid #363636;
    border-radius: 40px;
    width: 55px;
    background-color: #F8F7F5;
    padding-left: 9px;
    margin: 0 auto 4%;
}

.upButton a {
    text-decoration: none;
    color: #363636;
}

.upButton:hover  {
    background-color: #363636;
    border-color: #F8F7F5;
    transition: 0.3s;
}

.upButton:hover a  {
    color: #F8F7F5;
}

.upButton a:hover {
    color: #F8F7F5;
}


@media all and (max-width: 768px) {

    footer {
        margin-top: 10%;
    }


}