
#mainDisplay {
    max-width: 1440px;
    margin: auto;
}

.mainContent {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    min-width: 280px;
}

.flashMessage {
    max-width: 900px;
    margin: 3% auto auto;
}

.contentHeart {
    background-color: #F8F7F5;
}

.contentDisplay {
    width: 100%;
}

.contentHead {
    display: none;
}

@media all and (max-width: 768px) {
    .contentHead {
        display: flex;
    }

    /* SEARCH BAR */
    .searchBar {
        width: 200px;
        margin: auto;
    }

    .contentHead input {
        outline: none;
    }
    .contentHead input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }
    .contentHead input::-webkit-search-decoration,
    .contentHead input::-webkit-search-cancel-button {
        display: none;
    }

    .contentHead input[type=search] {
        background: #E2E1DF url(../../public/img/search-icon.png) no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 5px 10px 5px 32px;
        width: 160px;
        margin-bottom: 10%;

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
    }
    .contentHead input[type=search]:focus {
        background-color: #fff;
        border-color: #E1F7C5;
        width: 160px;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }


    .contentHead input:-moz-placeholder {
        color: #999;
    }
    .contentHead input::-webkit-input-placeholder {
        color: #999;
    }
}


