.undefined {
    text-align: right;
}

.list {
    width: 98%;
    margin: auto;
}


.addNew {
    margin-bottom: 5%;
    margin-top: 4%;
    text-align: center;
}

.byAuthor {
    font-size: smaller;
    margin-top: -10px;
}

.buttons {
    text-align: left;
}

.hidden {
    visibility: hidden;
}

@media all and (max-width: 768px) {


    .addNew {
        margin-bottom: 15%;
        margin-top: 12%;
    }

}

