.undefined {
    text-align: right;
}

.list {
    width:100%;
    margin: auto;
}

.buttonSize {
    font-size: 12px;
}


.entry {
    padding-bottom: 2%;
    padding-top: 3%;
}

.entry:hover {
    background-color: #f7f7f7;
}


.addNew {
    margin-bottom: 10%;
    margin-top: 7%;
    text-align: center;
}

.workTitle {
    font-weight: bold;
    margin: 0;
}

.byAuthor {
    font-size: smaller;
}

.quoteNumber {
    text-align: center;
}

.buttons {
    text-align: left;
}


@media all and (max-width: 768px) {



    .entry {
        min-width: auto;
        text-align: center;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .buttonSize {
        margin-top: 6%;
    }
}

@media all and (max-width: 590px)
{
    .buttons {
        text-align: center;
    }
}
