
#mainDisplay {
    max-width: 1024px;
    margin: auto;
}

.mainContent {
    margin: 0%;
    min-width: 280px;
}

.flashMessage {
    max-width: 900px;
    margin: auto;
    margin-top: 0%;
}

.confirmMessage {
    max-width: 70%;
    margin-top: 20vh;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    padding: 5%;
    text-align: center;
}