.pagination {
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.pagination a {
    color: #528769;
    text-decoration: none;
}


.first, .previous, .page, .next, .last {
    border: 1px solid #528769;
    width: 45px;
}

.previous, .page, .next, .last {
    border-left: none;
}

.first:hover, .previous:hover, .page:hover, .next:hover, .last:hover {
    transition: 0.3s;
    background-color: #528769;
}

.first:hover a, .previous:hover a, .page:hover a, .next:hover a, .last:hover a {
    transition: 0.3s;
    color: #f8f7f5;
}


.current {
    border: 1px solid #528769;
    background-color: #528769;
    color: #f8f7f5;
    width: 45px;
}


@media all and (max-width: 768px) {
    .pagination {
        font-size: 18px;
        max-width: 250px;
    }

    .first, .previous, .page, .next, .last {
        width: 35px;
    }

    .current {
        width: 35px;
        font-size: 18px;
    }
}


