/* quotes as list */


.hidden {
    visibility: hidden;
}

.quoteListTitle {
    margin-bottom: 4%;
    font-variant: all-small-caps;
    font-size: x-large;
    font-weight: bold;
    color: #363636;
    text-align: center;
}

.quoteBlock {
    margin: 5% 5% 0;
    padding: 2% 2% 0;
    box-shadow: 17px 12px 24px -27px rgba(173, 173, 173, 0.87);
    border-radius: 3px;
    background-color: white;
    background-image: url('../../public/img/quotationMarks.png');
    background-size: 150px;
    background-position: left top;
    background-repeat: no-repeat;
}

.quoteCategories {
    font-size: 14px;
    font-weight: lighter;
    font-variant: small-caps;
    text-transform: capitalize;
}

.quoteCategories a {
    color: #8D80AD;
}

.quoteCategories a:hover {
    color: #5F4669;
    text-decoration: none;
}

.quoteText {
    font-family: Georgia;
    font-style: normal;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.centered {
    text-align: center;
}

.justified {
    white-space: pre-line;
    text-align: left;
}

.seeMore {
    font-size: 14px;
    text-align: center;
}

.quoteAuthor {
    font-family: Arial;
    font-style: italic;
    text-align: right;
    margin-bottom: -3px;
    margin-top: 10%;
}

.quoteAuthor a {
    color: #8D80AD;
}

.quoteAuthor a:hover {
    color: #5F4669;
    text-decoration: none;
}

.quoteOriginalWork {
    font-family: Arial;
    text-align: right;
    margin-bottom: 0;
    font-style: italic;
}

.quoteOriginalWork a {
    color: #8D80AD;
}

.quoteOriginalWork a:hover {
    color: #5F4669;
    text-decoration: none;
}

.quoteButtons {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2%;
}


.paginator {
    width: 100%;
    margin: auto;
    padding-top: 30px;
}

/* single view */

.quoteNotes {
    margin: 7%;
    padding: 2%;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-family: Courier New;
}

.singleQuoteButtons {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    line-height: 3;
}



@media all and (max-width: 768px) {
    .quoteBlock {
        margin: 1%;
    }

    .quoteText {
        font-size: 16px;
    }

    .quoteAuthor {
        font-size: 14px;
    }

    .quoteOriginalWork {
        font-size: 14px;
    }


    .singleQuoteButtons {
        margin-top: 15%;
        margin-bottom: 10%;
    }


}