
.resultContent a {
    color: black;
    text-decoration: none;
}

.resultContent a:hover {
    text-decoration: none;
}

.resultQuoteInfo span {
    font-weight: lighter;
}

h5 {
    font-weight: bold;
    font-variant: all-small-caps;
    background-color: rgb(77, 168, 3, 1);
    color: white;
    padding-bottom: 0.5%;
    padding-left: 3%;
    border-radius: 10px;
}

@media all and (max-width: 768px) {

}