.user {
    width: 90%;
    margin: auto;
}

.userInfo {
    margin-top: 6%;
    background-color: #e5edff;
    padding: 5%;
    border: 5px solid white;
    border-radius: 10px;
}

.userInfo p span {
    font-weight: bold;
}

.userInfo a {
    margin-top: 10%;

}

.userStats {
    margin-top: 6%;
    border: 5px solid white;
    border-radius: 10px;
}

.stats {
    padding: 10%;
    background-color: #fff9df;
}

h4 {
    margin-bottom: 10%;
}

