body {
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(247, 247, 247);
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: rgb(229, 229, 229);

    flex-shrink: 0;
}

.footerContent {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


.headList {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    width: 240px;
    margin-right: 10px;
    margin-left: auto;
    z-index: 3;
}

.headListContent {
    background-color: rgb(247, 247, 247, 0.5);
    height: 50px;
    text-align: center;
    padding: 12px;
    border-radius: 30px;
}


.item {
    display: inline;
    margin-right: 8%;
    font-size: 16px;
}


.parallaxContainer {
    margin-top: 20px;

}

.parallaxContainer section {
    height: 100vh;
    border: 1px solid transparent;
}

.sectionContent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    font-size: 19px;
}


section:nth-child(1) {
    background: rgb(45, 99, 0);
    color: white;
}

section:nth-child(2) {
    background: #F5871F;
}

section:nth-child(3) {
    background: #5eb5e0;
}

section:nth-child(4) {
    background: #8959A8;
    color: white;
}

section:nth-child(5) {
    background: #ffcc00;
}

section:nth-child(6) {
    background: rgb(77, 168, 3);
    color: white;
}


section img {
    max-width: 250px;
}

.img {
    margin-top: 3%;
    margin-right: 10%;
    text-align: right;
}




@media all and (max-width: 768px) {


    .sectionContent {
        margin-top: 15vh;
    }

    section img {
        max-width: 150px;
    }


}




