<header>





    <p class="headerTitleOut"><a href="{{ path('qtf_welcome_index') }}">{{ website_name }}

            {# TO DELETE WHEN DEPLOYMENT'S READY #}
            <span class="badge badge-warning">BETA</span>

        </a></p>

</header>