{# templates/Inside/Date/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Date
{% endblock %}


{% block quote_body %}



	<div class="contentList">
		
		list of dates

	</div>



	
{% endblock %}